@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

//Colors
$first-color: #252e42;
$second-color: #505668;
$third-color: #5981ea;
$fourth-color: #666d81;
$fifth-color: #88304e;
$font-color: #fefefe;
$background-color: #010920;

$fallback-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $background-color;
  font-family: "Lato", $fallback-fonts;
  color: $font-color;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;

  height: 100%;
}

.container {
  display: grid;
  grid-template-rows:
    [title-start] 20% [title-end list-start]
    auto [list-end footer-start]
    20% [footer-end];
  justify-content: center;
  height: 100%;
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
  padding-top: 3rem;
}
h2 {
  font-size: 1.8rem;
  font-weight: 900;
  padding-top: 3rem;
  margin: 8px 0 24px 0;
}

.todo-list {
  grid-row: list-start / list-end;
  width: 500px;
  padding: 1rem 0;
  background-color: $first-color;
  border-radius: 12px;
}

.todo {
  display: grid;
  grid-template-columns:
    [checkbox-start] 10% [checkbox-end title-start]
    auto [title-end marker-start]
    10% [marker-end];
  grid-template-rows:
    [title-start] 10% [title-end description-start]
    auto [description-end date-start]
    10% [date-end];
  grid-gap: 5px;
  margin-top: 8px;
  padding: 0.5rem 1rem;

  &:hover {
    background-color: $second-color;
  }
}

.todo-checkbox {
  grid-column: checkbox-start / checkbox-end;
  grid-row: title-start / title-end;
}

.todo-title {
  grid-column: title-start / title-end;
  grid-row: title-start / title-end;
  font-size: 1.2rem;
  font-weight: 900;
}

.todo-mark-as-important {
  grid-column: marker-start / marker-end;
  grid-row: title-start / title-end;
}

.todo-description {
  grid-column: title-start / marker-end;
  grid-row: description-start / description-end;

  color: $fourth-color;
  margin-bottom: 6px;
}

.todo-date {
  grid-column: title-start / marker-end;
  grid-row: date-start / date-end;
}

.date-wrapper {
  background-color: $fifth-color;
  border-radius: 5px;
  padding: 2px 8px;
}

footer {
  grid-row: footer-start / footer-end;
  align-self: end;
}

/* Inputs*/

label.checkbox-wrapper {
  cursor: pointer;

  input[type="checkbox"] {
    display: none;

    & + i::before {
      content: "";
    }
    &:checked + i::before {
      content: "check";
    }
  }
}
